{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% include 'users/_user_card.html' %}
            {% include 'users/_user_settings_card.html' %}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    {% include '_messages_alerts.html' %}

                    <h2>Your circles</h2>

                    <form action="{% url 'circles:create' %}" method="post">
                        {% csrf_token %}
                        <br/>
                        <input type="text"
                               name="name"
                               class="form-control floating-label {% if 'name' in form.errors %} has-error{% endif %}"
                               placeholder="Circle name"
                               required>
                        <button class="btn btn-raised btn-primary pull-right" type="submit">Create</button>
                    </form>

                    <div class="clearfix"></div>

                    {% for circle in object_list|dictsortreversed:'updated_at' %}
                        <hr/>
                        <div class="circle-header">
                            <span class="lead circle-name">{{ circle.name }}</span>
                            <span class="pull-right">
                                <a href="{% url 'circles:edit' pk=circle.pk %}"
                                   class="mdi-editor-mode-edit circle-controls"></a>
                                <a href="{% url 'circles:delete' pk=circle.pk %}"
                                   class="mdi-action-delete circle-controls"></a>
                            </span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="circle-members">
                            {% for member in circle.get_members %}
                                <a href="{% url 'users:profile' pk=member.pk %}">@{{ member.username }}</a>
                            {% empty %}
                                <span class="text-muted">This circle is empty.</span>
                            {% endfor %}
                        </div>
                    {% empty %}
                        <br/>
                        <p class="text-muted lead" style="text-align: center;">You have no circles.</p>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>
{% endblock %}
