.darkbg-text() {
  color: @darkbg-text;
  &:hover {
    color: @darkbg-text;
  }
}

.navbar {
  .navbar-brand {
    .darkbg-text;
  }

  .navbar-nav li a {
    .darkbg-text;
  }

  .dropdown-menu {
    height: 400px;
    max-height: 400px;
    overflow: hidden;
    width: 200px;
    overflow-y: scroll;
    z-index: 100;
    padding-top: 20px;
    //display: block;

    button {
      margin-top: -15px;
      margin-bottom: -15px;

      .col-xs-1 {
        padding-top: 10px;
      }
    }
  }
}
