.darkbg-text() {
  color: @darkbg-text;
  &:hover {
    color: @darkbg-text;
  }
}

.navbar {
  .navbar-brand {
    .darkbg-text;
  }

  .navbar-nav li a {
    .darkbg-text;
  }

  .dropdown-menu {
    height: 400px;
    max-height: 400px;
    overflow: hidden;
    width: 200px;
    overflow-y: scroll;
    z-index: 100;

    button {

      .col-xs-1 {
        padding-top: 10px;
      }
    }

    button + hr {
        margin-bottom: 0;
        margin-top: 0;
    }
  }
}
