@import "../vendor/bootstrap/less/bootstrap";
@import "../vendor/bootstrap-material-design/less/material-fullpalette";
@import "../vendor/bootstrap-material-design/less/roboto";
@import "../vendor/bootstrap-material-design/less/ripples";

@primary: @light-blue;
@success: @green;
@info: @light-blue;
@warning: @deep-orange;
@danger: @red;

.panel-profile .header {
    height: 100px;
    margin: -15px;
    margin-bottom: 10px;
    background-image: url("../images/material-bg.jpg");
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.panel-profile img {
    width: 50px;
    height: 50px;
    margin-top: -35px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50%;
}

.post-controls {
    font-size: 1.3em !important;
}

.post .post-subtle,
.post .post-subtle * {
    opacity: 0;
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -ms-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.post:hover .post-subtle,
.post:hover .post-subtle * {
    filter: alpha(opacity=70);
    opacity: 1;
}

.post-favorited {
    color: #ffc107 !important;
}
