@import "../vendor/bootstrap/less/bootstrap";
@import "../vendor/bootstrap-material-design/less/material";
@import "../vendor/bootstrap-material-design/less/roboto";
@import "../vendor/bootstrap-material-design/less/ripples";

@primary: @light-blue;
@navbar-default-color: @darkbg-text;

@import "_overrides";

.panel-profile {
  .header {
    height: 100px;
    margin: -15px;
    margin-bottom: 10px;
    background-image: url("../images/material-bg.jpg");
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  img {
    width: 50px;
    height: 50px;
    margin-top: -35px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50%;
  }
}

.post {
  &.lead {
    margin-bottom: 0;
  }

  [class*="mdi-"] {
    font-size: 20px;
  }

  .date {
    color: @grey;
  }

  .actions {
    a {
      color: @grey-400;
      text-decoration: none;

      &:hover {
        color: @grey-600;
      }

      &.favorite {
        color: @amber;
      }
    }
  }

  .replies {
    background-color: #e6edf2;
  }

  .link-disabled {
    pointer-events: none;
    cursor: default;
  }
}
