{% if request.user.is_authenticated and request.user.pk == user.pk %}
    <div class="panel panel-default">
        <div class="panel-heading">Settings</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'users:edit' pk=user.pk %}">Edit profile</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'circles:manage' user_pk=user.pk %}">Manage circles</a>
                </li>
            </ul>
        </div>
    </div>
{% endif %}
