{% extends 'base.html' %}

{% block content %}
    <div class="row">

        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

            <h2>Edit your profile</h2>

            {% if form.errors %}
                <div class="alert alert-danger" role="alert">There was an error.</div>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}

                <br/>
                <input type="text"
                       name="username"
                       class="form-control floating-label {% if 'username' in form.errors %} has-error{% endif %}"
                       placeholder="Username"
                       value="{{ user.username }}"
                       required>

                <br/>
                <input type="text"
                       name="name"
                       class="form-control floating-label {% if 'name' in form.errors %} has-error{% endif %}"
                       value="{{ user.name }}"
                       placeholder="Long name">

                <br/>
                <textarea
                        name="description"
                        class="form-control floating-label {% if 'description' in form.errors %} has-error{% endif %}"
                        rows="3"
                        placeholder="Description">{{ user.description | escape }}</textarea>

                <br/>
                <input type="email"
                       name="email"
                       class="form-control floating-label {% if 'email' in form.errors %} has-error{% endif %}"
                       placeholder="E-Mail"
                       value="{{ user.email }}"
                       required>

                <button class="btn btn-raised btn-material-light-blue" type="submit">Save</button>
            </form>

            <br/><br/><br/>

            <h3>Change your password</h3>

            <form action="" method="post">
                <br/>
                <input type="password"
                       name="name"
                       class="form-control floating-label {% if 'name' in form.errors %} has-error{% endif %}"
                       placeholder="Current password">

                <br/>
                <input type="password"
                       name="name"
                       class="form-control floating-label {% if 'name' in form.errors %} has-error{% endif %}"
                       placeholder="New password">

                <br/>
                <input type="password"
                       name="name"
                       class="form-control floating-label {% if 'name' in form.errors %} has-error{% endif %}"
                       placeholder="New password confirmation">

                <button class="btn btn-raised btn-material-light-blue" type="submit">Save</button>
            </form>

            <br/><br/><br/>

            <h3>Delete your account</h3>
            <br/>
            <a class="btn btn-block btn-raised btn-danger" href="#delete">Delete your profile</a>

        </div>

    </div>
{% endblock %}
