{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            {% include 'users/_user_card.html' %}
            {% include 'users/_user_settings_card.html' %}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="panel panel-default panel-profile">
                <div class="panel-body">

                    {% include '_messages_alerts.html' %}

                    {% if request.user.is_authenticated and request.user.pk == user.pk %}
                        {% include 'posts/_post_create.html' %}
                        <hr/>
                    {% endif %}

                    {% if posts %}
                        {% for post in posts|dictsortreversed:'created_at' %}
                            {% if post.extra.can_be_seen %}
                                {% if forloop.counter != 1 %}
                                    <hr/>
                                {% endif %}
                                {% include 'posts/_post.html' %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <br/>
                        <p class="text-muted lead" style="color: #aaa; text-align: center;">
                            This user has no posts<br/>
                            #circuitzombie</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
