{% extends 'base.html' %}

{% block content %}
    <div class="row">

        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

            <h2>Login</h2>

            {% include '_messages_alerts.html' %}

            <form action="" method="post">
                {% csrf_token %}

                <br/>
                <input type="email"
                       name="email"
                       class="form-control floating-label {% if 'email' in form.errors %} has-error{% endif %}"
                       placeholder="E-Mail"
                       required>
                <br/>
                <input type="password"
                       name="password"
                       class="form-control floating-label {% if 'password' in form.errors %} has-error{% endif %}"
                       placeholder="Password"
                       required>

                <button class="btn btn-lg btn-raised btn-material-light-blue" type="submit">Login</button>
                <a class="pull-right" href="{% url 'users:request_password_reset' %}" style="margin-top: 20px">Forgot password?</a>
            </form>

        </div>

    </div>
{% endblock %}
