{% extends 'base.html' %}

{% block content %}
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4">
            {% include 'users/_user_card.html' %}
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Edit your profile</h3></div>
                <div class="panel-body">
                    {% include '_messages_alerts.html' %}

                    <form action="" method="post">
                        {% csrf_token %}

                        <br/>
                        <input type="text"
                               name="username"
                               class="form-control floating-label {% if 'username' in form.errors %} has-error{% endif %}"
                               placeholder="Username"
                               value="{{ user.username }}"
                               required>

                        <br/>
                        <input type="text"
                               name="name"
                               class="form-control floating-label {% if 'name' in form.errors %} has-error{% endif %}"
                               value="{{ user.name }}"
                               placeholder="Long name">

                        <br/>
                <textarea
                        name="description"
                        class="form-control floating-label {% if 'description' in form.errors %} has-error{% endif %}"
                        rows="3"
                        placeholder="Description">{{ user.description | escape }}</textarea>

                        <br/>
                        <input type="email"
                               name="email"
                               class="form-control floating-label {% if 'email' in form.errors %} has-error{% endif %}"
                               placeholder="E-Mail"
                               value="{{ user.email }}"
                               required>

                        <button class="btn btn-raised btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h3>Change your password</h3></div>
                <div class="panel-body">
                    <form action="{% url 'users:update-password' %}" method="post">
                        {% csrf_token %}

                        <br/>
                        <input type="password"
                               name="password-old"
                               class="form-control floating-label {% if 'password-old' in form.errors %} has-error{% endif %}"
                               placeholder="Current password"
                               required>

                        <br/>
                        <input type="password"
                               name="password-new"
                               class="form-control floating-label {% if 'password-new' in form.errors %} has-error{% endif %}"
                               placeholder="New password"
                               required>

                        <br/>
                        <input type="password"
                               name="password-confirm"
                               class="form-control floating-label {% if 'password-confirm' in form.errors %} has-error{% endif %}"
                               placeholder="New password confirmation"
                               required>

                        <button class="btn btn-raised btn-primary" type="submit">Save</button>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h3>Delete your account</h3></div>
                <br/>
                <div class="panel-body">
                    <a class="btn btn-raised btn-danger" href="{% url 'users:delete' pk=user.pk %}">Delete your account</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
