<!doctype html>
<html class="no-js" lang="en">
<head>{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>circuit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/app.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/bootstrap/dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/bootstrap-material-design/dist/css/material.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/bootstrap-material-design/dist/css/roboto.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/bootstrap-material-design/dist/css/material.min.css" %}"/>
    <link rel="stylesheet" href="{% static "vendor/bootstrap-material-design/dist/css/ripples.min.css" %}"/>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
