{% extends 'base.html' %}

{% block fullscreen %}
<div class="container" style="margin: 0; padding: 0; width: 100%; height: calc(100% - 50px);">
    <div class="text-center" style="height: 100%; width: 100%; background: url('/static/images/landing.jpg') no-repeat center center; background-size: cover;">
    <div class="text-center" style="padding-top: 25%; height: 100%; width: 100%; background: rgba(0,0,0,0.5);">
        <h2 style="margin: 0; color: white;">Welcome to circuit</h2>
        <a class="btn btn-lg btn-raised btn-primary" href="{% url 'users:signup' %}">Sign up</a>
    </div>

    <div class="text-center" style="padding-top: 25%; min-height: 100%; height: calc(100% + 50px); width: 100%;">
        <h2 style="margin: 0; color: #0275a8;">You have an account? Great!</h2>
        <a class="btn btn-lg btn-raised btn-primary" href="{% url 'users:login' %}">Login</a>
    </div>

    <div class="wrapper" style="height: calc(100% + 50px); width: 100%; background: #0275a8; color: white; text-align: justify;">
        <div class="wrapper" style="padding-top: 15%; margin: auto; max-width: 500px; height: 100%;">
        <h2 style="margin-top: 0; margin-bottom: 20px; color: white; text-align: center">It's all about you</h2>
        <div class="col-xs-12 col-sm-12 wow bounceInLeft" style="margin-bottom: 20px;">
        Hey, you! <br />Welcome to the first posting site of the TU Berlin! Let's sign up for an account. Just click the button and start your way around the cicuit of our university.</div>
        <div class="col-xs-12 col-sm-12 wow bounceInRight" style="margin-bottom: 20px;">What is circuit? <br />Well, circuit is a website to post personal messages and stay in contect with other students of your university. Circuit matches the good things of google+ and twitter. You'll be able to post your own messages, find your friends and other students of your courses and you can add them to your circles.</div>
        <div class="col-xs-12 col-sm-12 wow bounceInLeft">Right, I know what you're thinking: <br />What are circles? Circles are groups of people, that have one interest. When you are logging in the first time, you will have the circle 'me' and the circle 'public'. You can build your own circles and friends can be added by the circle owner.</div>
        <div class="col-xs-6 col-sm-6 wow bounceInLeft"></div>
        <div class="col-xs-6 col-sm-6 wow bounceInRight"></div>
        </div>
    </div>
</div>
{% endblock %}