<form action="{% if not post %}{% url 'posts:create' %}{% endif %}" method="post" id="post_create"
      enctype="multipart/form-data">
    {% csrf_token %}
    <br/>
    <textarea
            maxlength="256"
            name="content"
            class="form-control floating-label {% if 'content' in form.errors %} has-error{% endif %}"
            rows="3"
            v-model="content"
            data-hint="(% 256 - content.length %)"
            placeholder="Write something!">{{ post.content | escape }}</textarea>
    <br/>

    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4" style="height: 60px;padding-top: 15px;">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="mdi-social-people"></i>
                </span>
                <select class="form-control" name="circle" style="margin-top: 3px;">
                    <option value="-2"{% if post.circles_id == -2 %} selected{% endif %}>Only visible to me</option>
                    <option value="-1"{% if post.circles_id == -1 %} selected{% endif %}>Public</option>
                    {% for circle in user.get_circles|dictsortreversed:'pk' %}
                        <option value="{{ circle.pk }}"{% if post.circles_id == circle.pk %}
                                selected{% endif %}>{{ circle.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-md-5 col-lg-5" style="height: 60px;padding-top: 18px;">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="mdi-image-image"></i>
                </span>
                <input class="" name="image" type="file" style="margin-top: 5px;"/>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-3">
            <button class="btn btn-lg btn-raised btn-primary pull-right" type="submit">
                {% if post %}Save{% else %}Write{% endif %}
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
</form>
