<form action="{% if not post %}{% url 'posts:create' %}{% endif %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <br/>
    <textarea
            maxlength="256"
            name="content"
            class="form-control floating-label {% if 'content' in form.errors %} has-error{% endif %}"
            rows="3"
            placeholder="Write something!">{{ post.content | escape }}</textarea>
    <button class="btn btn-lg btn-raised btn-primary pull-right" type="submit">
        {% if post %}Save{% else %}Write{% endif %}
    </button>
    <input class="btn mdi-editor-attach-file" name="image" type="file" />
    <div class="clearfix"></div>
</form>

<!-- enctype="multipart/form-data" added -->

