{% load parser %}
<form action="{% url 'posts:reply' pk=post.pk %}" method="post">
    {% csrf_token %}
    <br/>
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
            <textarea
                    maxlength="256"
                    name="content"
                    class="form-control floating-label"
                    rows="3"
                    placeholder="Reply to @{{ post.author.username }}">{% filter force_escape %}@{{ post.original_or_self.author.username }} {% endfilter %}</textarea>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
            <button class="btn btn-lg btn-raised btn-primary pull-right" type="submit">
                Reply
            </button>
        </div>


    </div>
    <div class="clearfix"></div>
</form>
