<div class="post {% if not posts %} lead{% endif %}">

    {% if post.original_post %}
        <span class="mdi-av-loop" style="font-size: inherit">reposted</span>
        <span class="post-subtle">
            by
            <a href="{% url 'users:profile' pk=post.author.pk %}">@{{ post.author.username }}</a>
            on
            <a href="{% url 'posts:post' pk=post.pk %}">{{ post.created_at }}</a>
        </span>
    {% endif %}

    <small>
        {% if post.author.name %}
            <strong>{{ post.author.name }}</strong>
        {% endif %}
        <a href="#">
            @{{ post.author.username }}</a>
        <a class="pull-right post-subtle" href="#">
            {{ post.created_at }}</a>
    </small>

    <div class="clearfix"></div>

    <div>
        <p>{{ post.content }}</p>
    </div>

    <small class="post-subtle">
        {% if request.user.is_authenticated %}
            {# reader actions (favorite, repost, ...) #}
            <span class="pull-right">
                {# author actions (edit, delete, ...) #}
            </span>
        {% else %}
            Please <a href="{% url 'landingpage' %}">log in</a> to enjoy full functionality.
        {% endif %}
    </small>
    <div class="clearfix"></div>

</div>

