<div class="panel panel-default">
    <div class="panel-body panel-post {% if not posts %} lead{% endif %}">
        <small class="post-subtle">
            <a href="{% url 'users:profile' pk=post.original_or_self.author.pk %}">
                @{{ post.original_or_self.author.username }}</a>
            on <a href="{% url 'posts:post' pk=post.original_or_self.pk %}">{{ post.original_or_self.created_at }}</a>
            <span class="pull-right">
                {% if request.user.is_authenticated %}
                    {% if post.extra.can_be_reposted %}
                        <a class="mdi-av-loop post-controls" style="font-size: inherit"
                           href="{% url 'posts:repost' pk=post.original_or_self.pk %}">repost</a>
                    {% endif %}
                {% else %}
                    Please <a href="{% url 'landingpage' %}">log in</a> to enjoy full functionality.
                {% endif %}
            </span>
        </small>
        <br/>
        {{ post.content }}
        {% if post.original_post %}
            <br/>
            <small>
                <span class="mdi-av-loop" style="font-size: inherit">reposted</span>
                <span class="post-subtle">
                    by
                    <a href="{% url 'users:profile' pk=post.author.pk %}">@{{ post.author.username }}</a>
                    on
                    <a href="{% url 'posts:post' pk=post.pk %}">{{ post.created_at }}</a>
                </span>
            </small>
        {% endif %}
    </div>
</div>