{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-0 col-sm-3 col-md-4"></div>
        <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="well well-lg hover-here">

                {% if post.original_post %}
                    <p>
                        <a href="{% url 'users:profile' pk=post.original_post.author.pk %}">
                            @{{ post.original_post.author.username }}</a>
                        wrote on
                        <a href="{% url 'posts:post' pk=post.original_post.pk %}">
                            {{ post.original_post.created_at }}</a>:
                    </p>
                {% endif %}
                <p class="lead">
                    {{ post.content }}
                </p>
                <p>
                    <a href="{% url 'users:profile' pk=post.author.pk %}">@{{ post.author.username }}</a>
                    {% if request.user.is_authenticated %}
                        {% if request.user.pk != post.author.pk and not post.original_post %}
                            <a class="mdi-av-loop show-on-hover"
                               style="text-decoration: none"
                               href="{% url 'posts:repost' pk=post.pk %}"></a>
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'posts:post' pk=post.pk %}" class="pull-right">{{ post.created_at }}</a>
                </p>

            </div>
        </div>
    </div>
{% endblock %}