{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-0 col-sm-3 col-md-4"></div>
        <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="well well-lg">

                <p class="lead">
                    {{ post.content }}
                </p>
                <small>
                    <a href="{% url 'users:profile' pk=post.author.pk %}">@{{ post.author.username }}</a>
                    <a href="{% url 'posts:post' pk=post.pk %}" class="pull-right">{{ post.created_at }}</a>
                </small>

            </div>
        </div>
    </div>
{% endblock %}