{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-push-0 col-sm-push-2 col-md-push-2 col-xs-12 col-sm-8 col-md-8">
            <h3>Are you sure to delete?</h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    {% include 'posts/_post.html' %}
                </div>
            </div>
            <form method="POST" action="{% url "posts:delete" pk=post.original_or_self.pk %}">
                {% csrf_token %}
                <input type="submit" value="DELETE" class="btn btn-danger btn-raised">
                <a href="{% url 'users:profile' pk=user.pk %}" class="btn btn-default btn-raised">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
